style
 include commonset.css
mixin repolink(mainfiles,relative,extra,src)
 hr.nomrg
 dl.repoinfo
  if mainfiles
   dt This file is composed of
   for file, index in mainfiles
    if index+1 == mainfiles.length
     unless mainfiles.length == 1
      |and
    dd
     a(href=file)
      code= file
  if extra
   dt Extra content and/or files.
    br
    |May also help with setting up.
   for item in extra
    dd
     a(href=item)
      code= item
   if relative
    dt.via
     hr
     |Return to the main repository
    dd.via
     a(href=relative) via this link
  if src
   dt This has been modified from
   dd
    a(href=src).breakall= src
